<h1>Listing pulses</h1>

<table>
  <thead>
    <tr>
      <th>Pulse rate</th>
      <th>Pulse time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pulses.each do |pulse| %>
      <tr>
        <td><%= pulse.pulse_rate %></td>
        <td><%= pulse.created_at %></td>
        <td><%= link_to 'Show', pulse %></td>
        <td><%= link_to 'Edit', edit_pulse_path(pulse) %></td>
        <td><%= link_to 'Destroy', pulse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pulse', new_pulse_path %>
